.services {
  padding-top: 94px;
  padding-bottom: 94px;
}

.services__list {
  display: flex;
  margin-left: calc(-1 * var(--set-gap));
}

.services-list__item {
  position: relative;
  display: block;
  flex-basis: calc(100% / 3 - var(--set-gap));
  margin-left: var(--set-gap);
}

.services-list__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  @include flexbox(center, center);
  height: 70px;
  margin: 0;

  font-weight: 700;
  font-size: var(--font-size);
  line-height: 1.14;
  text-align: center;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  color: var(--primary-color-white);
  background-color: rgba(47, 48, 58, 0.8);
}